

<div class="row">
    <div class="col">
            <div style="min-height: 40px" class="row justify-content-center">
                    <div class="col">  
                        <h6>{{currentEnglishSentence}}</h6>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 2rem" #germansentenceanswer>
                    <div class="col">
                        <mdb-card>
                            <div class="mdb-card-body" style="min-height: 10rem" >
                                <button  mdbBtn
                                        mdbBtn type="button" 
                                        color="elegant" 
                                        class="waves-light"
                                        size="sm" 
                                        mdbWavesEffect  
                                        *ngFor="let word of germanWordsAnswer; index as i" 
                                        (click)="sendToContainer(i, germanWordsAnswer, germanWords)">
                                    {{word}}
                                </button>
                            </div>
                        </mdb-card> 
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="min-height: 7rem">
                        <button
                            mdbBtn
                            mdbBtn type="button" 
                            color="elegant" 
                            class="waves-light"
                            size="sm" 
                            mdbWavesEffect 
                            *ngFor="let word of germanWords; index as i" 
                            (click)="sendToContainer(i, germanWords, germanWordsAnswer, germansentenceanswer.innerText)">
                        {{word}}
                        </button>
                    </div>
                    
                </div>
                
                <div class="row">
                    <div class="col">
                        <button mdbBtn
                                mdbBtn type="button"
                                outline="true" 
                                color="elegant" 
                                class="waves-light"
                                size="sm" 
                                mdbWavesEffect 
                                [disabled]="control" 
                                (click)="goToNextText()">Next Text</button>
                        <button mdbBtn
                                mdbBtn type="button"
                                outline="true" 
                                color="elegant" 
                                class="waves-light"
                                size="sm" 
                                mdbWavesEffect 
                                [disabled]="control" 
                                (click)="goToNextSentence()">Next Sentence</button>
                    </div>
                </div>
    </div>
    <div class="col col-4">
        <div class="row">
            <span *ngFor="let answer of rightAnswers" style="font-size: 14px">{{answer}}</span>
        </div>
    </div>
</div>